<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja-JP">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="
          initial-scale=1.0,
          minimum-scale=1.0,
          maximum-scale=2.0,
          user-scalable=yes"
    />
    <title>{{title}} - {{issue}}</title>
    <link rel="stylesheet" href="amatsuchi_v1-beta_202401/amatsuchi.css" />
    <script src="amatsuchi_v1-beta_202401/main.js"></script>
  </head>
  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-KT68C9VVMD"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-KT68C9VVMD");
  </script>

  <body
    lang="ja-JP"
    style="width: 100%; height: 100%; overflow-x: scroll; overflow-y: hidden"
  >
    <div class="amatsuchi">
      <div class="midashi-box">
        <h1 class="midashi">{{title}}</h1>
        <div class="hissha">{{author}}</div>
      </div>
      {{content}}
    </div>
    <div id="ama-float" class="ama-float">
      <a href="./index.html">目次へ</a>
    </div>
  </body>
</html>
