.amatsuchi .midashi-box .midashi {
    padding: 8px 0 10px 0;
    margin-left: 4px;
}

.amatsuchi .midashi-box .hissha {
    font-size: larger;
    margin-bottom: 2rem;
}

.amatsuchi .midashi-box {
    padding: 0 0 0px 20px;
}